.App {
  text-align: center;
  margin: 150px auto;
}
.parent img {
  width:500px;
  height: 500px;
  border-radius: 12px;
}


.parent {
  display: flex;
  color: white;
}
.parent div {
  margin: auto;
  padding-right: 10px;
}
.textBox {
  width:800px;
}
.cardStyle {
  background: rgb(83, 108, 192);
  width:70%;

  padding: 20px;
  border-radius: 12px;
  margin: auto;
}

/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
