.App {
  display:flex;
  justify-content: center;
  margin: 20px auto;
}

h1 {
  font-size:25px;
  padding:10px;
  margin:auto;
}

.content{
  color:white;
}

.ui.card {
  width: 500px;
  background:rgb(245, 243, 241);
}
